# Accidental Drug Deaths in Connecticut: 
## Step 2 Anaylsis 
## Quetions, Steps, Code, Comments 
### Are opioid-related drug deaths increasing in CT from 2012-2020? 

#### The Data: https://catalog.data.gov/dataset/accidental-drug-related-deaths-2012-2018

# Questions: 
* How many drug-related deaths were there from 2012-2020?
* What is the distribution of opioid deaths by city in CT?
* Has the number of opioid-related deaths increased or decreased from 2012-2020?

# Steps: 

* Step 1: Load the data 
* Step 2: Create an opioid filter to only look at the deaths that are due to opioids
* Step 3: Count the number of rows in the opioid filter to determine how many deaths from 2012-2020 were due to opioids 
* Step 4: Combine the opioid filter with the Residence City and use the value counts function to determine which cities have the highest opioid related deaths and which have the lowest. 
* Step 5: Crate a year column. 
* Step 6: Create a filter for each year from 2012 to 2020 to determine if the number of opioid-related deaths have incrased or decreased over the years.

# Code:

In [1]:
# Step 1: Load the Data
import warnings
warnings.simplefilter('ignore')
import matplotlib.pyplot as plt
import pandas as pd
import datetime

accidental_drug_deaths_df = pd.read_csv('../data/accidental_drug_deaths_CT_clean.csv')
accidental_drug_deaths_df

,ID,Date,Age,Sex,Race,Residence_City,Residence_County,Residence_State,Death_City,Death_County,...,Morphine_Not_Heroin,Hydromorphone,Xylazine,Other,Opiate_NOS,Any_Opioid,Manner_of_Death,DeathCityGeo,ResidenceCityGeo,InjuryCityGeo
0,12-0187,2012-07-17,34.0,Female,White,MAHOPAC,PUTNAM,NaN,DANBURY,FAIRFIELD,...,NaN,NaN,NaN,Duster,NaN,NaN,Accident,"DANBURY, CT\n(41.393666, -73.451539)",NaN,"CT\n(41.575155, -72.738288)"
1,12-0258,2012-10-01,51.0,Male,White,PORTLAND,MIDDLESEX,NaN,PORTLAND,MIDDLESEX,...,NaN,NaN,NaN,NaN,NaN,NaN,Accident,"PORTLAND, CT\n(41.581345, -72.634112)","PORTLAND, CT\n(41.581345, -72.634112)","CT\n(41.575155, -72.738288)"
2,13-0146,2013-04-28,28.0,Male,White,NaN,NaN,NaN,HARTFORD,HARTFORD,...,NaN,NaN,NaN,NaN,NaN,NaN,Accident,"HARTFORD, CT\n(41.765775, -72.673356)","CT\n(41.575155, -72.738288)","CT\n(41.575155, -72.738288)"
3,14-0150,2014-04-06,46.0,Male,White,WATERBURY,NaN,NaN,TORRINGTON,LITCHFIELD,...,NaN,NaN,NaN,NaN,NaN,NaN,Accident,"TORRINGTON, CT\n(41.812186, -73.101552)","WATERBURY, CT\n(41.554261, -73.043069)","CT\n(41.575155, -72.738288)"
4,14-0183,2014-04-27,52.0,Male,White,NEW LONDON,NaN,NaN,NEW LONDON,NEW LONDON,...,NaN,NaN,NaN,NaN,NaN,NaN,Accident,"NEW LONDON, CT\n(41.355167, -72.099561)","NEW LONDON, CT\n(41.355167, -72.099561)","CT\n(41.575155, -72.738288)"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7674,14-0128,2014-03-20,25.0,Male,White,MILFORD,NaN,NaN,WETHERSFIELD,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,Accident,"WETHERSFIELD, CT\n(41.712487, -72.663607)","MILFORD, CT\n(41.224276, -73.057564)","CT\n(41.575155, -72.738288)"
7675,20-1217,2020-11-19,62.0,Female,White,STAMFORD,FAIRFIELD,CT,STAMFORD,FAIRFIELD,...,NaN,NaN,NaN,NaN,NaN,Y,Accident,"Stamford, CT\n(41.051924, -73.539475)","STAMFORD, CT\n(41.051924, -73.539475)","STAMFORD, CT\n(41.051924, -73.539475)"
7676,20-1138,2020-10-31,50.0,Female,White,NEW BRITAIN,HARTFORD,CT,NEW BRITAIN,HARTFORD,...,NaN,NaN,Y,NaN,NaN,Y,Accident,"New Britain, CT\n(41.667528, -72.783437)","NEW BRITAIN, CT\n(41.667528, -72.783437)","NEW BRITAIN, CT\n(41.667528, -72.783437)"
7677,16-0640,2016-09-17,36.0,Male,White,SHELTON,FAIRFIELD,CT,SHELTON,NaN,...,NaN,NaN,NaN,NaN,NaN,Y,Accident,"SHELTON, CT\n(41.316843, -73.092968)","SHELTON, CT\n(41.316843, -73.092968)","SHELTON, CT\n(41.316843, -73.092968)"
7678,19-0963,2019-10-25,33.0,Male,White,NEW HAVEN,NEW HAVEN,CT,NEW HAVEN,NEW HAVEN,...,NaN,NaN,NaN,NaN,NaN,Y,Accident,"New Haven, CT\n(41.308252, -72.924161)","NEW HAVEN, CT\n(41.308252, -72.924161)","NEW HAVEN, CT\n(41.308252, -72.924161)"

In [2]:
#Step 2: Create an opioid filter
# opioid_filter = accidental_drug_deaths_df['Any_Opioid'] == 'Y'
# accidental_drug_deaths_df[opioid_filter]

In [3]:
# Step 2: Create an opioid filter 
# Note: Using the 'Any_Opioid' filter did not work since the data was not updated in this column and there was a lot of data missing. 
# Therefore, I will create my own 'all_opioid' column to include all of the drugs that are considered opioids. 
# Now I will create filters for all of the different opioids in this data set
heroin_filter = accidental_drug_deaths_df['Heroin'] == 'Y'
fetanyl_filter = accidental_drug_deaths_df['Fentanyl'] == 'Y'
fentanyl_analogue_filter = accidental_drug_deaths_df['Fentanyl_Analogue'] == 'Y'
oxycodone_filter = accidental_drug_deaths_df['Oxycodone'] == 'Y'
oxymorphone_filter = accidental_drug_deaths_df['Oxymorphone'] == 'Y'
hydrocodone_filter = accidental_drug_deaths_df['Hydrocodone'] == 'Y'
morphine_filter = accidental_drug_deaths_df['Morphine_Not_Heroin'] == 'Y'
hydromorphone_filter = accidental_drug_deaths_df['Hydromorphone'] == 'Y'
opiate_filter = accidental_drug_deaths_df['Opiate_NOS'] == 'Y'

In [11]:
# Now I will add a column that incorporates all of these filters

all_opioids_filter = heroin_filter | fetanyl_filter | fentanyl_analogue_filter | oxycodone_filter | oxymorphone_filter | hydrocodone_filter | morphine_filter | hydromorphone_filter | opiate_filter
all_opioids_filter = accidental_drug_deaths_df['all_opioids']

In [14]:
# Now I will create a new data frame that contains the new all_opioids column. 
accidental_opioid_deaths_df = accidental_drug_deaths_df[all_opioid_filter]

NameError: name 'all_opioid_filter' is not defined

In [15]:
accidental_opioid_deaths_df

NameError: name 'accidental_opioid_deaths_df' is not defined

### Step 3: Count the number of rows

* Since there are 4860 rows in the opioid filtered dataframe, which only contains the rows of people who died via an opioid, and there are a total of 7679 in the bigger dataframe, this means that over half of the overdoses from January 1, 2012 - December 31, 2020 were due to opioids.

<div class="alert alert-warning">

* Make a subset using the filter for subsequent steps

</div>

In [ ]:
# accidental_opioid_deaths_df = accidental_drug_deaths_df[opioid_filter]

In [ ]:
# Step 4: Distribution of opioid deaths by city
accidental_opioid_deaths_df['Residence_City'].value_counts().head(20)

In [ ]:
# Step 5: Create a year column

#Change the Date column from strings to dates 
accidental_opioid_deaths_df['Date'] = pd.to_datetime(accidental_opioid_deaths_df['Date'])

#Add a column for year 
accidental_opioid_deaths_df['year'] = accidental_opioid_deaths_df[opioid_filter].Date.dt.year

accidental_opioid_deaths_df

In [ ]:
# distribution by year
accidental_opioid_deaths_df.groupby('year').size()

### Comments: 
* It looks like a lot of years are missing data in the "any opioid" column. Therefore, I am going to make another column which accounts to all the different types of opioids.

In [ ]:
accidental_drug_deaths_df.columns

Next we can look at the percent change from year to year.

In [ ]:
# clearly increasing

# you can quantify the rate year by year with the pct_change function
# so 2016 is a 29.4% increase over 2015

accidental_drug_deaths_df.groupby('year').size().pct_change()

From the above cell, we can see there is an increase of between 11% to 18% from 2018-2020.

<div class="alert alert-warning">

* What happened in 2017? Are those data missing?

</div>

* Something strange going on? Seems like no opioid related deaths in a number of years?

In [ ]:
accidental_drug_deaths_df[opioid_filter]['Date'].str[:4].value_counts()

* Might have to look at specific drug columns as maybe the `Any_Opioid` column isn't consistent

In [ ]:
accidental_drug_deaths_df['Date'].str[:4].value_counts()

# Answer

From the data that I have analyzed so far, it is clear that the amount of opioid-related deaths have increased over the past decade. Hartforn, Waterbury, Bridgeport, and New Haven report the most amount of opioid-related deaths in CT.

# Interpretation/Observation

 I still need some help making a column that looks at all of the opioids since the 'any_opioid' column in the dataset does not seem to have all of the data.

Overall, I am not surprised that the amount of opioid deaths have increased. However, considering our other data set that shows that the amount of opioid prescriptions is decreasing, this is an interesting result.