# Accidental Drug Deaths in Connecticut: 
## Step 2 Anaylsis 
## Quetions, Steps, Code, Comments 
### Are opioid-related drug deaths increasing in CT from 2012-2020? 

#### The Data: https://catalog.data.gov/dataset/accidental-drug-related-deaths-2012-2018

# Questions: 
* How many drug-related deaths were there from 2012-2020?
* What is the distribution of opioid deaths by city in CT?
* Has the number of opioid-related deaths increased or decreased from 2012-2020?

# Steps: 

* Step 1: Load the data 
* Step 2: Create an opioid filter to only look at the deaths that are due to opioids
* Step 3: Count the number of rows in the opioid filter to determine how many deaths from 2012-2020 were due to opioids 
* Step 4: Combine the opioid filter with the Residence City and use the value counts function to determine which cities have the highest opioid related deaths and which have the lowest. 
* Step 5: Crate a year column. 
* Step 6: Create a filter for each year from 2012 to 2020 to determine if the number of opioid-related deaths have incrased or decreased over the years.

# Code:

In [1]:
# Step 1: Load the Data
import warnings
warnings.simplefilter('ignore')
import matplotlib.pyplot as plt
import pandas as pd
import datetime

accidental_drug_deaths_df = pd.read_csv('../data/accidental_drug_deaths_CT_clean.csv')
accidental_drug_deaths_df

,ID,Date,Age,Sex,Race,Residence_City,Residence_County,Residence_State,Death_City,Death_County,...,Morphine_Not_Heroin,Hydromorphone,Xylazine,Other,Opiate_NOS,Any_Opioid,Manner_of_Death,DeathCityGeo,ResidenceCityGeo,InjuryCityGeo
0,12-0187,2012-07-17,34.0,Female,White,MAHOPAC,PUTNAM,NaN,DANBURY,FAIRFIELD,...,NaN,NaN,NaN,Duster,NaN,NaN,Accident,"DANBURY, CT\n(41.393666, -73.451539)",NaN,"CT\n(41.575155, -72.738288)"
1,12-0258,2012-10-01,51.0,Male,White,PORTLAND,MIDDLESEX,NaN,PORTLAND,MIDDLESEX,...,NaN,NaN,NaN,NaN,NaN,NaN,Accident,"PORTLAND, CT\n(41.581345, -72.634112)","PORTLAND, CT\n(41.581345, -72.634112)","CT\n(41.575155, -72.738288)"
2,13-0146,2013-04-28,28.0,Male,White,NaN,NaN,NaN,HARTFORD,HARTFORD,...,NaN,NaN,NaN,NaN,NaN,NaN,Accident,"HARTFORD, CT\n(41.765775, -72.673356)","CT\n(41.575155, -72.738288)","CT\n(41.575155, -72.738288)"
3,14-0150,2014-04-06,46.0,Male,White,WATERBURY,NaN,NaN,TORRINGTON,LITCHFIELD,...,NaN,NaN,NaN,NaN,NaN,NaN,Accident,"TORRINGTON, CT\n(41.812186, -73.101552)","WATERBURY, CT\n(41.554261, -73.043069)","CT\n(41.575155, -72.738288)"
4,14-0183,2014-04-27,52.0,Male,White,NEW LONDON,NaN,NaN,NEW LONDON,NEW LONDON,...,NaN,NaN,NaN,NaN,NaN,NaN,Accident,"NEW LONDON, CT\n(41.355167, -72.099561)","NEW LONDON, CT\n(41.355167, -72.099561)","CT\n(41.575155, -72.738288)"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7674,14-0128,2014-03-20,25.0,Male,White,MILFORD,NaN,NaN,WETHERSFIELD,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,Accident,"WETHERSFIELD, CT\n(41.712487, -72.663607)","MILFORD, CT\n(41.224276, -73.057564)","CT\n(41.575155, -72.738288)"
7675,20-1217,2020-11-19,62.0,Female,White,STAMFORD,FAIRFIELD,CT,STAMFORD,FAIRFIELD,...,NaN,NaN,NaN,NaN,NaN,Y,Accident,"Stamford, CT\n(41.051924, -73.539475)","STAMFORD, CT\n(41.051924, -73.539475)","STAMFORD, CT\n(41.051924, -73.539475)"
7676,20-1138,2020-10-31,50.0,Female,White,NEW BRITAIN,HARTFORD,CT,NEW BRITAIN,HARTFORD,...,NaN,NaN,Y,NaN,NaN,Y,Accident,"New Britain, CT\n(41.667528, -72.783437)","NEW BRITAIN, CT\n(41.667528, -72.783437)","NEW BRITAIN, CT\n(41.667528, -72.783437)"
7677,16-0640,2016-09-17,36.0,Male,White,SHELTON,FAIRFIELD,CT,SHELTON,NaN,...,NaN,NaN,NaN,NaN,NaN,Y,Accident,"SHELTON, CT\n(41.316843, -73.092968)","SHELTON, CT\n(41.316843, -73.092968)","SHELTON, CT\n(41.316843, -73.092968)"
7678,19-0963,2019-10-25,33.0,Male,White,NEW HAVEN,NEW HAVEN,CT,NEW HAVEN,NEW HAVEN,...,NaN,NaN,NaN,NaN,NaN,Y,Accident,"New Haven, CT\n(41.308252, -72.924161)","NEW HAVEN, CT\n(41.308252, -72.924161)","NEW HAVEN, CT\n(41.308252, -72.924161)"

In [2]:
#Step 2: Create an opioid filter
opioid_filter = accidental_drug_deaths_df['Any_Opioid'] == 'Y'
accidental_drug_deaths_df[opioid_filter]

,ID,Date,Age,Sex,Race,Residence_City,Residence_County,Residence_State,Death_City,Death_County,...,Morphine_Not_Heroin,Hydromorphone,Xylazine,Other,Opiate_NOS,Any_Opioid,Manner_of_Death,DeathCityGeo,ResidenceCityGeo,InjuryCityGeo
6,15-0052,2015-02-01,52.0,Male,White,MIDDLETOWN,MIDDLESEX,CT,MIDDLETOWN,MIDDLESEX,...,NaN,NaN,NaN,NaN,NaN,Y,Accident,"MIDDLETOWN, CT\n(41.544654, -72.651713)","MIDDLETOWN, CT\n(41.544654, -72.651713)","CT\n(41.575155, -72.738288)"
7,15-0239,2015-05-21,32.0,Male,White,ORLANDO,ORANGE,FL,TORRINGTON,LITCHFIELD,...,NaN,NaN,NaN,NaN,NaN,Y,Accident,"TORRINGTON, CT\n(41.812186, -73.101552)",NaN,"CT\n(41.575155, -72.738288)"
9,15-0365,2015-07-17,42.0,Male,White,CANTERBURY,WINDHAM,CT,CANTERBURY,WINDHAM,...,NaN,NaN,NaN,NaN,NaN,Y,Accident,"CANTERBURY, CT\n(41.698351, -71.971118)","CANTERBURY, CT\n(41.698351, -71.971118)","CT\n(41.575155, -72.738288)"
10,15-0715,2015-12-23,44.0,Male,White,NaN,NaN,NaN,STAFFORD SPRINGS,TOLLAND,...,NaN,NaN,NaN,NaN,NaN,Y,Accident,"STAFFORD SPRINGS, CT\n(41.953931, -72.302901)","CT\n(41.575155, -72.738288)","CT\n(41.575155, -72.738288)"
11,16-0032,2016-01-17,26.0,Male,Black,BRISTOL,HARTFORD,CT,BRISTOL,NaN,...,NaN,NaN,NaN,NaN,NaN,Y,Accident,"BRISTOL, CT\n(41.673037, -72.945791)","BRISTOL, CT\n(41.673037, -72.945791)","BRISTOL, CT\n(41.673037, -72.945791)"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7673,18-0648,2018-08-18,51.0,Female,Black,WATERBURY,NEW HAVEN,CT,HARTFORD,HARTFORD,...,NaN,NaN,NaN,NaN,NaN,Y,Accident,"HARTFORD, CT\n(41.765775, -72.673356)","WATERBURY, CT\n(41.554261, -73.043069)","HARTFORD, CT\n(41.765775, -72.673356)"
7675,20-1217,2020-11-19,62.0,Female,White,STAMFORD,FAIRFIELD,CT,STAMFORD,FAIRFIELD,...,NaN,NaN,NaN,NaN,NaN,Y,Accident,"Stamford, CT\n(41.051924, -73.539475)","STAMFORD, CT\n(41.051924, -73.539475)","STAMFORD, CT\n(41.051924, -73.539475)"
7676,20-1138,2020-10-31,50.0,Female,White,NEW BRITAIN,HARTFORD,CT,NEW BRITAIN,HARTFORD,...,NaN,NaN,Y,NaN,NaN,Y,Accident,"New Britain, CT\n(41.667528, -72.783437)","NEW BRITAIN, CT\n(41.667528, -72.783437)","NEW BRITAIN, CT\n(41.667528, -72.783437)"
7677,16-0640,2016-09-17,36.0,Male,White,SHELTON,FAIRFIELD,CT,SHELTON,NaN,...,NaN,NaN,NaN,NaN,NaN,Y,Accident,"SHELTON, CT\n(41.316843, -73.092968)","SHELTON, CT\n(41.316843, -73.092968)","SHELTON, CT\n(41.316843, -73.092968)"
7678,19-0963,2019-10-25,33.0,Male,White,NEW HAVEN,NEW HAVEN,CT,NEW HAVEN,NEW HAVEN,...,NaN,NaN,NaN,NaN,NaN,Y,Accident,"New Haven, CT\n(41.308252, -72.924161)","NEW HAVEN, CT\n(41.308252, -72.924161)","NEW HAVEN, CT\n(41.308252, -72.924161)"

<div class="alert alert-warning">

* Make a subset using the filter for subsequent steps

</div>

In [3]:
accidental_opioid_deaths_df = accidental_drug_deaths_df[opioid_filter]

### Step 3: Count the number of rows
* Since there are 4860 rows in the opioid filtered dataframe, which only contains the rows of people who died via an opioid, and there are a total of 7679 in the bigger dataframe, this means that over half of the overdoses from January 1, 2012 - December 31, 2020 were due to opioids.

In [4]:
# Step 4: Distribution of opioid deaths by city
accidental_opioid_deaths_df['Residence_City'].value_counts().head(20)

HARTFORD         329
WATERBURY        299
BRIDGEPORT       235
NEW HAVEN        232
NEW BRITAIN      180
BRISTOL          134
MERIDEN          106
NORWICH           98
MANCHESTER        97
TORRINGTON        94
EAST HARTFORD     88
WEST HAVEN        80
STRATFORD         79
DANBURY           76
MIDDLETOWN        76
NEW LONDON        76
ENFIELD           67
HAMDEN            60
NORWALK           60
MILFORD           55
Name: Residence_City, dtype: int64

In [5]:
# Step 5: Create a year column

#Change the Date column from strings to dates 
accidental_opioid_deaths_df['Date'] = pd.to_datetime(accidental_opioid_deaths_df['Date'])

#Add a column for year 
accidental_opioid_deaths_df['year'] = accidental_opioid_deaths_df[opioid_filter].Date.dt.year

accidental_opioid_deaths_df

,ID,Date,Age,Sex,Race,Residence_City,Residence_County,Residence_State,Death_City,Death_County,...,Hydromorphone,Xylazine,Other,Opiate_NOS,Any_Opioid,Manner_of_Death,DeathCityGeo,ResidenceCityGeo,InjuryCityGeo,year
6,15-0052,2015-02-01,52.0,Male,White,MIDDLETOWN,MIDDLESEX,CT,MIDDLETOWN,MIDDLESEX,...,NaN,NaN,NaN,NaN,Y,Accident,"MIDDLETOWN, CT\n(41.544654, -72.651713)","MIDDLETOWN, CT\n(41.544654, -72.651713)","CT\n(41.575155, -72.738288)",2015
7,15-0239,2015-05-21,32.0,Male,White,ORLANDO,ORANGE,FL,TORRINGTON,LITCHFIELD,...,NaN,NaN,NaN,NaN,Y,Accident,"TORRINGTON, CT\n(41.812186, -73.101552)",NaN,"CT\n(41.575155, -72.738288)",2015
9,15-0365,2015-07-17,42.0,Male,White,CANTERBURY,WINDHAM,CT,CANTERBURY,WINDHAM,...,NaN,NaN,NaN,NaN,Y,Accident,"CANTERBURY, CT\n(41.698351, -71.971118)","CANTERBURY, CT\n(41.698351, -71.971118)","CT\n(41.575155, -72.738288)",2015
10,15-0715,2015-12-23,44.0,Male,White,NaN,NaN,NaN,STAFFORD SPRINGS,TOLLAND,...,NaN,NaN,NaN,NaN,Y,Accident,"STAFFORD SPRINGS, CT\n(41.953931, -72.302901)","CT\n(41.575155, -72.738288)","CT\n(41.575155, -72.738288)",2015
11,16-0032,2016-01-17,26.0,Male,Black,BRISTOL,HARTFORD,CT,BRISTOL,NaN,...,NaN,NaN,NaN,NaN,Y,Accident,"BRISTOL, CT\n(41.673037, -72.945791)","BRISTOL, CT\n(41.673037, -72.945791)","BRISTOL, CT\n(41.673037, -72.945791)",2016
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7673,18-0648,2018-08-18,51.0,Female,Black,WATERBURY,NEW HAVEN,CT,HARTFORD,HARTFORD,...,NaN,NaN,NaN,NaN,Y,Accident,"HARTFORD, CT\n(41.765775, -72.673356)","WATERBURY, CT\n(41.554261, -73.043069)","HARTFORD, CT\n(41.765775, -72.673356)",2018
7675,20-1217,2020-11-19,62.0,Female,White,STAMFORD,FAIRFIELD,CT,STAMFORD,FAIRFIELD,...,NaN,NaN,NaN,NaN,Y,Accident,"Stamford, CT\n(41.051924, -73.539475)","STAMFORD, CT\n(41.051924, -73.539475)","STAMFORD, CT\n(41.051924, -73.539475)",2020
7676,20-1138,2020-10-31,50.0,Female,White,NEW BRITAIN,HARTFORD,CT,NEW BRITAIN,HARTFORD,...,NaN,Y,NaN,NaN,Y,Accident,"New Britain, CT\n(41.667528, -72.783437)","NEW BRITAIN, CT\n(41.667528, -72.783437)","NEW BRITAIN, CT\n(41.667528, -72.783437)",2020
7677,16-0640,2016-09-17,36.0,Male,White,SHELTON,FAIRFIELD,CT,SHELTON,NaN,...,NaN,NaN,NaN,NaN,Y,Accident,"SHELTON, CT\n(41.316843, -73.092968)","SHELTON, CT\n(41.316843, -73.092968)","SHELTON, CT\n(41.316843, -73.092968)",2016
7678,19-0963,2019-10-25,33.0,Male,White,NEW HAVEN,NEW HAVEN,CT,NEW HAVEN,NEW HAVEN,...,NaN,NaN,NaN,NaN,Y,Accident,"New Haven, CT\n(41.308252, -72.924161)","NEW HAVEN, CT\n(41.308252, -72.924161)","NEW HAVEN, CT\n(41.308252, -72.924161)",2019

In [6]:
# distribution by year
accidental_opioid_deaths_df.groupby('year').size()

year
2015     659
2016     853
2018     948
2019    1127
2020    1273
dtype: int64

### Comments: 
* It looks like a lot of years are missing data in the "any opioid" column. Therefore, I am going to make another column which accounts to all the different types of opioids.

In [10]:
accidental_drug_deaths_df.columns

Index(['ID', 'Date', 'Age', 'Sex', 'Race', 'Residence_City',
       'Residence_County', 'Residence_State', 'Death_City', 'Death_County',
       'Location', 'Location_if_Other', 'Description_of_Injury',
       'Injury_Place', 'Injury_City', 'Injury_County', 'Injury_State',
       'Cause_of_Death', 'Heroin', 'Cocaine', 'Fentanyl', 'Fentanyl_Analogue',
       'Oxycodone', 'Oxymorphone', 'Ethanol', 'Hydrocodone', 'Benzodiazepine',
       'Methadone', 'Amphet', 'Tramad', 'Morphine_Not_Heroin', 'Hydromorphone',
       'Xylazine', 'Other', 'Opiate_NOS', 'Any_Opioid', 'Manner_of_Death',
       'DeathCityGeo', 'ResidenceCityGeo', 'InjuryCityGeo'],
      dtype='object')

In [14]:
# Now I will create filters for all of the different opioids in this data set
heroin_filter = accidental_drug_deaths_df['Heroin'] == 'Y'
fetanyl_filter = accidental_drug_deaths_df['Fentanyl'] == 'Y'
fentanyl_analogue_filter = accidental_drug_deaths_df['Fentanyl_Analogue'] == 'Y'
oxycodone_filter = accidental_drug_deaths_df['Oxycodone'] == 'Y'
oxymorphone_filter = accidental_drug_deaths_df['Oxymorphone'] == 'Y'
hydrocodone_filter = accidental_drug_deaths_df['Hydrocodone'] == 'Y'
morphine_filter = accidental_drug_deaths_df['Morphine_Not_Heroin'] == 'Y'
hydromorphone_filter = accidental_drug_deaths_df['Hydromorphone'] == 'Y'
opiate_filter = accidental_drug_deaths_df['Opiate_NOS'] == 'Y'

In [19]:
# Now I will add a column that incorporates all of these filters

# NOTE: I need some help with this. I'm not sure how to add a column that encompasses multiple filters 
accidental_opioid_deaths_df['all_opioids'] = accidental_opioid_deaths_df[heroin_filter]

ValueError: Wrong number of items passed 41, placement implies 1

Next we can look at the percent change from year to year.

In [7]:
# clearly increasing

# you can quantify the rate year by year with the pct_change function
# so 2016 is a 29.4% increase over 2015

accidental_opioid_deaths_df.groupby('year').size().pct_change()

year
2015         NaN
2016    0.294385
2018    0.111372
2019    0.188819
2020    0.129547
dtype: float64

From the above cell, we can see there is an increase of between 11% to 18% from 2018-2020.

<div class="alert alert-warning">

* What happened in 2017? Are those data missing?

</div>

* Something strange going on? Seems like no opioid related deaths in a number of years?

In [9]:
accidental_drug_deaths_df[opioid_filter]['Date'].str[:4].value_counts()

2020    1273
2019    1127
2018     948
2016     853
2015     659
Name: Date, dtype: int64

* Might have to look at specific drug columns as maybe the `Any_Opioid` column isn't consistent

In [12]:
accidental_drug_deaths_df['Date'].str[:4].value_counts()

2020    1374
2019    1200
2017    1038
2018    1018
2016     917
2015     727
2014     558
2013     490
2012     355
Name: Date, dtype: int64

# Answer

From the data that I have analyzed so far, it is clear that the amount of opioid-related deaths have increased over the past decade. Hartforn, Waterbury, Bridgeport, and New Haven report the most amount of opioid-related deaths in CT.

# Interpretation/Observation

 I still need some help making a column that looks at all of the opioids since the 'any_opioid' column in the dataset does not seem to have all of the data.

Overall, I am not surprised that the amount of opioid deaths have increased. However, considering our other data set that shows that the amount of opioid prescriptions is decreasing, this is an interesting result.